{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm border-success">
            <div class="card-header bg-success text-white text-center">
                <h4>Пароль изменен</h4>
            </div>
            <div class="card-body text-center">
                <p>Ваш пароль был успешно изменён. Теперь вы можете войти в систему.</p>
                <a href="{% url 'core:login' %}" class="btn btn-primary mt-3">Войти</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}