{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <style>
        .dropdown-menu {
            min-width: 120px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col text-center">
            <h5>{{ day_of_week }}, {{ current_date }}</h5>
        </div>
    </div>
    <div class="class-row">
        <div class="class-col">
            {% block methodist_content %}
            {% endblock methodist_content %}
        </div>
    </div>
{% endblock %}